/* body {
    transition: background-color 0.3s ease;
  color: #000000; Default text color
  }
  
  header, main {
    padding: 20px;
  }
  
  header {
    background-color: #f2f2f2;
  }
  
  main {
    background-color: #ffffff;
  }
  
  .dark-mode {
    background-color: #222222;
    color: #ffffff;
  }
  
  .dark-mode header {
    background-color: #333333;

  }
  .dark-mode p {
    color: #ffffff; Override text color in dark mode
  }
  
  .dark-mode button {
    background-color: #ffffff;
    color: #222222;
  } */
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }